.todo-wrapper {
    margin: 20px auto 20px auto;
    width: 500px;
    min-height: 600px;
    border: 5px solid rgba(73, 204, 249, 1.0);
    padding: 20px;
}

#packinglist{
    z-index: 1;
    position: absolute;
    padding-top: 155px;
    padding-left: 25px;
    color: white;
    font-size: 90px;
    font-family: 'Kristi', cursive;
    font-weight: lighter;
}

.listHeading {
  /* color: white; */
  font-family: 'Kristi', cursive;
  font-size: 80px;
}